<!DOCTYPE html>
<html>
  <head>
  <script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
	<script type="text/javascript" src = "matchMapFunctions.js"></script>
    <style>
       #map {
        height: 380px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkr4cxrw3ZEG098emzdRIfpfNX5rDMg2k&callback=buildMap">
    </script>
  </body>
</html>